# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.vs/
# System files
.DS_Store
Thumbs.db

# Node.js and npm
node_modules/
package-lock.json

# Composer
vendor/
composer.lock

# IDE files
.idea/
*.iml
.vs/
