/* 
***************** TABLE OF CONTENT ********************
    A. Sign up styling
    1. Body
    2.Header
    3. Container
    4. Label and input
    5.Button

*/
@import url('https://fonts.googleapis.com/css2?fam');
*{
    margin: 0%;
    left: 0;top: 0%;
    box-sizing: border-box;
    font-family: sans-serif, 'cursive';
}
/* sign up styling */

/* body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
     align-items: center;
    height: 80vh;
    margin: 0;
    background-color: #ffffff;
  } */
  /* .header {
    width: 100%;
    background-color: #00a651;
    padding: 17px;
    display: flex;
    top: 0px;
    position: absolute;
    align-items: center;
  }
  .header img {
    width: 30px;
    height: 30px;
  } */
 
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 10px;
    position: relative;
    text-transform: uppercase;
  }

  .container {
    text-align: center;
    width: 80%;
    max-width: 400px;
  }

  label {
    display: block;
    font-size: 17px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-weight: bold;
    font-family: 'roboto';
    text-align: left;
  }
  i{
    background-color: #a0522d;
    height: 30px;
  }
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #a0522d;
    border-radius: 15px;
    font-size: 16px;
  }
  .signup-button {
    background-color: rgb(217, 137, 26);
    text-transform: uppercase;
    color: white;
    padding: 10px;
    margin-top:20px;
    border: none;
    border-radius: 5px;
    width: 90%;
    font-size: 16px;
    cursor: pointer;
  }
  .login-button:hover {
    opacity: 0.7;
  }
  .register-link {
    margin-top: 20px;
    font-size: 14px;
  }
  .register-link a {
    color: #a0522d;
    text-decoration: none;
  }


 